.Cart {
  text-align: center;
}

.CartItem {
  margin: auto;
  width: 40rem;
  max-width: 90%;
  padding: 1rem;
}

.CartItem li div button {
  margin: 5px;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  margin-right: 160px;
}

.CartItem li div button:disabled {
  color: #ccc !important;
  cursor: not-allowed;
  display: inline;
  border: 1px solid #ccc !important;
}

.Cart ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
}

.Cart ul li h4 {
  display: inline;
  margin-right: 1rem;
  margin: 0;
  line-height: 35px;
}
